.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    & input {
        margin: .6rem;
        padding: .5em;
        border-radius: .9rem;
        border: none;
        transition: filter .3s;
    }
    & input:focus {
        filter: drop-shadow(0 0 .1rem $border-color);
    }
    & .button {
        font-size: medium;
        justify-content: center;
        width: 100%;
        // display: flex;
    }
    & .Large-Imput{
        width: 100%;
    }
}