.main-header {
    overflow: hidden;
    display: flex;
    height: $header-height;
    width: 100%;
    background-color: var(--primary);
    justify-content: space-between;
    box-shadow: 2px 2px 5px $border-color;
}
