.Button-Icon {
    color: red;
    background-color: transparent;
    border: none;
}

.Button-Icon-2 {
    color: var(--primary);
    font-style: normal;
    background-color: transparent;
    border: none;
}