.table-responsive {
    overflow-x: auto;
  }
  
  table {
    font-size: var(--body-font-size);
    background-color: #f2f2f2;
    color: #333;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  td:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  @media screen and (max-width: 767px) {
    table {
      border: 0;
    }
  
    table thead tr {
      display: none;
    }
  
    table tbody tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }
  
    table tbody td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }
  
    table tbody td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }